@font-face {
    font-family:display ;
    src: url(display.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    font-family: display;
    overflow: hidden;
}

#loader{
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: #fff;
    font-size: 2.5vw;
    text-align: center;
    position: fixed;
    display: flex;
    z-index: 5;
    
}

#loader h1{
    position: absolute;
        transform: translate(-50%,-50%);
        top: 45%;
        left: 50%;
}

#loader h2{
    font-size: 1.2vw;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 90%;
    left: 50%;
    font-weight: 200;
    color: #6a6a6a;
    
}

.page{
    width: 100vw;
    height: 100vh;
    /* margin-top: 5vh; */
    
}

#page1 #wrapper1 h1{
    font-size: 8.5vw;
}






#page1 #nav{
    height: 10vh;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    border-bottom: 2px solid rgb(176, 176, 176);
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    z-index: 200;
}

#nav #nleft{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* margin: 0 5%; */
}

#nav #nright{
    /* padding: 0 5%; */
    display: inline-block;
    /* background-color: blue; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 35%;
}


#nav #nright a{
    color: black;
    font-size: 1.2vw;
    text-decoration: none;
}
#nav #nright i{
    color: black;
    font-size: 1.5vw;
    text-decoration: none;
}

#page1 #wrap{
    /* background-color: red; */
    margin: 3.5% 5%;
}

.overlay{
    position: absolute;
    top: 0%;
    left: 0%;
    color: rgb(255, 255, 255);
    background-color: black;
    clip-path: circle(100px at var(--x, 50%) var(--y, 50%));
    transition: clip-path 150ms;
    opacity: 0;
}

#nav #nrighto a{
    color: white;
    font-size: 1.2vw;
    text-decoration: none;
}
#nav #nrighto{
    /* padding: 0 5%; */
    display: inline-block;
    /* background-color: blue; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 35%;
}

.overlay #pillo1{
            
            background-color:#f234c6 ;
}

#pillo2{
    background-color: #22adf8;
}


#wrapper1{
    width: 60%;
}
#wrapper1 h2{
    margin-top: 3%;
    font-weight: 300;
    font-size: 3.8vh;
}

.pill{
    border-radius: 50px;
    font-size: 3.5vh;
    padding: 15px 25px;
    margin-right:10px;
}

#pill1{
    background-color: rgb(181, 255, 70);
}

#pill2{
    background-color: rgb(169, 141, 255);
}

#spanh2{
    margin-top: 5.5%;
}

@media screen and (max-width:648px) {
    #loader h1{
        position: absolute;
        transform: translate(-50%,-50%);
        top: 40%;
        left: 50%;
        font-size: 6vh;
        width: 100vw;
    }
}

