@font-face {
    font-family:display ;
    src: url(display.ttf);
}

@font-face {
    font-family:head ;
    src: url( Dirtyline36Daysoftype2022-Reg.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    font-family: display;
    overflow-x: hidden;
}

#pointer{
    height: 2.5vh;
    width:2.5vh;
    border-radius: 50%;
    position: fixed;
    z-index: 2;
    background-color: black;
    display: flex;
    align-self: center;
    flex-wrap: wrap;

    
}

#pointer i{
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top:50%;
    opacity:0;

}


#loader{
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: #fff;
    font-size: 2.5vw;
    text-align: center;
    position: fixed;
    display: flex;
    z-index: 5;
    
}

#loader h1{
    position: absolute;
        transform: translate(-50%,-50%);
        top: 45%;
        left: 50%;
}

#loader h2{
    font-size: 1.2vw;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 90%;
    left: 50%;
    font-weight: 200;
    color: #6a6a6a;
    
}

.page{
    width: 100vw;
    min-height: 100vh;
    margin:0;
    
}

#page1 #wrapper1 h1{
    font-size: 9vw;
    font-family:head;
}




#page1 #nav{
    height: 13vh;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    border-bottom: 2px solid rgb(176, 176, 176);
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    z-index: 200;
    
}

#nav #nleft{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* margin: 0 5%; */
}

#nav #nright{
    /* padding: 0 5%; */
    display: inline-block;
    /* background-color: blue; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 33%;
}


#nav #nright a{
    color: black;
    font-size: 1.2vw;
    text-decoration: none;
}
#nav #nright i{
    color: black;
    font-size: 1.5vw;
    text-decoration: none;
}



/* .overlay{
    position: absolute;
    top: 0%;
    left: 0%;
    color: rgb(255, 255, 255);
    background-color: black;
    clip-path: circle(100px at var(--x, 50%) var(--y, 50%));
    transition: clip-path 150ms;
    opacity: 0;
    z-index: 400;
} */

#nav #nrighto a{
    color: white;
    font-size: 1.2vw;
    text-decoration: none;
}
#nav #nrighto{
    /* padding: 0 5%; */
    display: inline-block;
    /* background-color: blue; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 35%;
}

.overlay #pillo1{
            
    background-color:#f234c6 ;
}

#pillo2{
    background-color: #22adf8;
}

#page1 #wrap{
    /* background-color: red; */
    margin: 2.5% 5%;
    width: 100%;
    position: relative;
    display: flex;
}



#wrapper1{
    width: 60%;
    display: inline-block;
}
#wrapper1 h2{
    margin-top: 3%;
    font-weight: 300;
    font-size: 3.8vh;
}

.pill{
    border-radius: 50px;
    font-size: 3.5vh;
    padding: 15px 25px;
    margin-right:10px;
    border: 2px solid black;
}

#pill1{
    /* background-color: rgb(181, 255, 70);      background: linear-gradient(110deg,   #2b1de8,#1ddde8, #dd00f3, #dd00f3, #490079);
  
       background-size: 200% 200%;
     
        -webkit-animation: rainbow 10s ease infinite;
             -z-animation: rainbow 10s ease infinite;
             -o-animation: rainbow 10s ease infinite;
                animation: rainbow 10s ease infinite; */
    background-color: rgb(187, 253, 120);
                
     
       }
      
     
     @-webkit-keyframes rainbow {
         0%{background-position:0% 82%}
         50%{background-position:100% 19%}
         100%{background-position:0% 82%}
     }
     @-moz-keyframes rainbow {
         0%{background-position:0% 82%}
         50%{background-position:100% 19%}
         100%{background-position:0% 82%}
     }
     @-o-keyframes rainbow {
         0%{background-position:0% 82%}
         50%{background-position:100% 19%}
         100%{background-position:0% 82%}
     }
     @keyframes rainbow { 
         0%{background-position:0% 82%}
         50%{background-position:100% 19%}
       100%{background-position:0% 82%}  
     
     }


#pill2{
    background-color: rgb(169, 141, 255);
}

#spanh2{
    margin-top: 5.5%;
}


#wrapper2{
    height: 100%;
    /* background-color: red; */
    width:40%;
    /* z-index: 500; */
    
   
}

.elem{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(212, 212, 212);
    font-size: 2.5vh;
    padding: 2% 0;
    position: relative;
    height: 12vh;
    overflow: hidden;
    z-index: 500;

    /* background-color: red; */
}

.elem a{
    color: black;
    text-decoration: none;
    z-index: 100;
}

#wrapper2 h1{
    color: #1f1f1f;
    margin-bottom: 8%;
    margin-left: 3%;

}

.icon{
    display:flex;
    align-items: center;
    /* justify-content: space-between; */
    width: 35%;
    /* background-color: red; */
    margin-left: 3%;
}

.elem h2{
    font-weight: 300;
    
}

.elem i{
    color: black;
    font-size: 3vh;
    margin-right: 15%;
   
    
}

.elem .overlay2{
    width: 100%;
    height: 12vh;
    z-index: -2;
    background-color: rgb(187, 253, 120);
    position: absolute;
    height: 12vh;
    top: -110%;
    transition: ease-in  0.3s;
    border-top: 1px solid rgb(185, 185, 185);

}

.elem:hover .overlay2{
    top:0%;
}




#page2{
    min-height: 100vh;
    width: 100vw;
    position: relative;
    border-top: 1px solid rgb(153, 153, 153) ;
}

#page2 h1{
    font-size: 12vh;
    position: absolute;
    transform: translateX(-50%);
    top: 10%;
    left: 50%;
    font-family: head;
    /* margin-top: 5%; */
}


@keyframes infinitescroll{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}

#loop2 img{
    height: 65vh;
    /* position: relative;
    transform: translateX(-50%);
    top: -50%;
    left: 50%; */
}

#loop2{
    display: flex;
    
    height: 65vh;
  
    /* animation-name: infinitescroll;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; */
    /* padding: -10% -10%; */
    position: absolute;
    bottom: 10%;
    overflow-y: hidden;
  
}


@media screen and (max-width:720px) {
    #loader h1{
        position: absolute;
        transform: translate(-50%,-50%);
        top: 40%;
        left: 50%;
        font-size: 6vh;
        width: 100vw;
    }

    #loader h2{
        font-size: 2.7vh;
        
    }

    #page1 #nav{
        height: 7vh;
    }

    #nav #nright a{
        display: none;
    }

    #nav #nleft{
        font-size: 1.5vh;
    }

    #nav #nright{
        display: flex;
       justify-content: flex-end;
    }

    #nav #nright i{
        font-size: 2vh;
        
    }

    #wrapper1{
        width: 100%;
        align-items: center;
    }

    #wrap #wrapper1 h1{
        font-size: 8vh;
        text-align: center;
    }

    #wrap #wrapper1 h2{
        margin-top: 5%;
        font-weight: 300;
        font-size: 2.4vh;
        text-align: center;
    }

    #page1 #wrap{
        /* background-color: red; */
        margin: 8.5% 0%  ;
        display: flex;
        flex-wrap: wrap;
    }

    .pill{
        border-radius: 50px;
        font-size: 90%;
        padding: 2% 4%;
        margin-right:2%;
        text-align: center;

    }


    #spanh2{
        margin-top: 8.5%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .overlay{
        display: none;
    }


    #wrapper2{
        width: 100%;
        margin-top: 5%;
    }

    #wrapper2 h1{
        margin-top: 5%;
        margin-left: 13%;


    }

    .elem{
        width: 100%;
        font-size: 2vh;
        height: 6vh;
        
    }

    .elem i{
        margin-left: 30%;

    }

    .overlay2{
       display: none;
    }

    #pointer{
        display: none;
    }


    #page2 h1{
        font-size: 9vh;
        text-align: center;
       
    }

}


#page3{
    min-height: 100vh;
    width: 100vw;
    /* background-color: black; */
}

#wrapper3{
    margin:0 5%;
    display: flex;
    flex-wrap: wrap;
    /* background-color: red; */
    position: relative;
}

.tsh{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1%;
}
.tsh img{
    width: 24%;
    border: 1px solid rgb(186, 186, 186);
    border-radius: 10px;
}